

h1{
    margin-bottom:1vw;
    font-size:4vw;
    text-align: center;
}

#informed{
    font-size: 2.5vw; 
    margin-bottom: 0;
}

#suggest{
    font-size: 1.7vw;
    text-decoration: none;
    color:rgba(0,0,0,0.6); 
    margin-top: 10px;
}

#suggest:hover{
    color:rgba(0,0,0,0.8);
}
#bias{
    text-decoration: none;
    font-size:2vw; 
    color:red;
}
#bias:hover{
    color:maroon
}



@media only screen and (max-width: 600px) {

    #blm-links{
        width:90vw;
    }

    h1{
        font-size:11vw
    }
    #informed{
        font-size:8vw
    }
    #suggest{
        font-size:4vw
    }
    #bias{
        font-size:5vw
    }
 

}