#name{
  font-size: 5vw;
  margin:3vh 3vh 0vh 0vh;
  padding-bottom: 0vh;

}

#uw{
  font-size: 3.5vw;
  padding:0;
  margin: 0vh;
  text-decoration: none;

  color: rgb( 51,0,111,0.8)
}

#uw:hover{
  color: rgba( 51,0,111,0.6)
}

#bar{
  border-style: none;
  background-color:rgba(0,0,0,0.4);
   margin-top:5vh; 
   height:0.3vh
}