html{
    
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#flex-container{
    display:flex;
    margin:0;
    width:100vw;
    max-width:100vw;
    flex-direction: column;
    align-content: center;
}
.centered {
    display: flex;
    margin-top:5vh;
    justify-content: center;
    align-content: center;
    
}

img{
    height:40vh;
    width:40vh;
}
.bullet-none{
    list-style-type: none;
    padding:0;
    margin:0;
}



.links{
    
    text-decoration: none;
    font-size:4vw;
    color:rgba(0,0,0,0.2);
}

.links:hover{
    color:rgba(0,0,0,0.8);
}

h1{
    margin-bottom:1vw;
    font-size:4vw;
    text-align: center;
}

#informed{
    font-size: 2.5vw; 
    margin-bottom: 0;
}

#suggest{
    font-size: 1.7vw;
    text-decoration: none;
    color:rgba(0,0,0,0.6); 
    margin-top: 10px;
}

#suggest:hover{
    color:rgba(0,0,0,0.8);
}
#bias{
    text-decoration: none;
    font-size:2vw; 
    color:red;
}
#bias:hover{
    color:maroon
}

@media only screen and (max-width: 600px) {
    body{
        margin-left:0
    }
    #blm-links{
        width:90vw;
    }
    .links{
        font-size:10vw; 
    }
    h1{
        font-size:11vw
    }
    #informed{
        font-size:8vw
    }
    #suggest{
        font-size:4vw
    }
    #bias{
        font-size:5vw
    }

  }