html{
    

    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#flex-container{
    display:flex;
    flex-direction: column;
    align-content: center;
}
.centered {
    display: flex;
    margin-top:5vh;
    justify-content: center;
    align-content: center;
    
}

img{
    height:40vh;
    width:40vh;
}
.bullet-none{
    list-style-type: none;
    padding:0;
    margin:0;
}

#bullet-linkedin{
  
}

#bullet-github{

}

#icon{
   
}

.links{
    
    text-decoration: none;
    font-size:40px;
    color:rgba(0,0,0,0.2);
}

.links:hover{
    color:rgba(0,0,0,0.8);
}